.tag-form{
    width:100%;
    display: flex;
    flex-direction: column;
  justify-content: start;
    &__label{
      font-size: 12px;
      display: flex;
      flex-direction:column;
      margin-bottom: $s2;
    }
}
